<html>

<head>
    <!---
        bootstrap to have easier time with front end
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    -->
    <title>{% block title%}{% endblock%}</title>


</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a href="{%url 'home'%}" class="nav-item link active">Home</a>
                <a href="{% url 'login'%}" class="nav-item link active">Log In</a>
                <a href="{% url 'profile'%}" class="nav-item link active">Profile</a>
                <a href="{% url 'fuel_request'%}" class="nav-item link active">Fuel Request</a>

            </div>
        </div>
    </nav>

    <div id="content" , name="content">
        {% block content%}
        {% endblock%}
    </div>
</body>

</html>
